@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (scrollbar-color: white #eff0f6) {
    * {
        scrollbar-color: white #eff0f6;
        scrollbar-width: thin;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.submenu {
    grid-template-rows: 0fr;
    transition: 150ms ease-in-out;
}

.submenu.show {
    grid-template-rows: 1fr;
}

.rotate svg:last-child {
    rotate: 180deg;
}

.login {
    background-color: #080808;
    background-size: 35px 35px;
    background-image: linear-gradient(to right, #131314 1px, transparent 1px),
        linear-gradient(to bottom, #131314 1px, transparent 1px);
    backdrop-filter: blur(1px);
}

.submenu_options {
    grid-template-rows: 0fr;
    transition: 150ms ease-in-out;
}

.submenu_options.show {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    border: 1px solid;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-color: #27272a;
    grid-template-rows: 1fr;
}

.checkboxActive {
    transform: translateX(1rem);
}
.buttonActive {
    background-color: #fafafa;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: orange;
}

/* New layout */

/* Sidebar Slide */
.slide {
    grid-template-rows: 0fr;
    transition: 150ms ease-in-out;
}

.slide.show {
    grid-template-rows: 1fr;
}

/* Profile menu */
.profile_menu {
    display: none;
}

.profile_menu.show {
    display: block;
}

.profile_menu::before {
    content: " ";
    width: 13px;
    height: 13px;
    background-color: white;
    border-block-start: 1px solid #eff0f6;
    border-inline-start: 1px solid #eff0f6;
    inset-block-start: -7px;
    transform: rotate(45deg);
    position: absolute;
    right: 13px;
}

/* User edit menu */
.options_menu {
    display: none;
}

.options_menu.show {
    display: block;
}

/* Create user */
/* Select Role Menu */
.select_role_menu {
    grid-template-rows: 0fr;
    transition: 150ms ease-in-out;
}
.select_role_menu.show {
    grid-template-rows: 1fr;
    border: 1px solid #9aa0ac;
    border-radius: 6px;
}

/* Create schedule */
/* Checkbox */
.checkbox {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.checkboxActive {
    transform: translateX(1rem);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
.buttonActive {
    background-color: #ff7f31;
}

/* Calendar*/
/* Holidays */
.select_year_menu {
    grid-template-rows: 0fr;
    transition: 150ms ease-in-out;
}
.select_year_menu.show {
    grid-template-rows: 1fr;
    border: 1px solid #9aa0ac;
    border-radius: 6px;
}

.select_month_menu {
    grid-template-rows: 0fr;
    transition: 150ms ease-in-out;
}
.select_month_menu.show {
    grid-template-rows: 1fr;
    border: 1px solid #9aa0ac;
    border-radius: 6px;
}

.select_day_menu {
    grid-template-rows: 0fr;
    transition: 150ms ease-in-out;
}
.select_day_menu.show {
    grid-template-rows: 1fr;
    border: 1px solid #9aa0ac;
    border-radius: 6px;
}
