@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.submenu {
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

.submenu.show {
    grid-template-rows: 1fr;
}

.rotate svg:last-child {
    rotate: 180deg;
}

.login {
    background-color: #080808;
    background-size: 35px 35px;
    background-image: linear-gradient(to right, #131314 1px, transparent 1px),
        linear-gradient(to bottom, #131314 1px, transparent 1px);
    backdrop-filter: blur(1px);
}

.submenu_options {
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

.submenu_options.show {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-color: #27272a;
    grid-template-rows: 1fr;
}
